/* Coolors Exported Palette - coolors.co/ff9900-191716-e0e2db-3d348b-beb7a4 */

/* HSL */
$color1: hsla(36%, 100%, 50%, 1);
$color2: hsla(20%, 6%, 9%, 1);
$color3: hsla(77%, 11%, 87%, 1);
$color4: hsla(246%, 46%, 37%, 1);
$color5: hsla(44%, 17%, 69%, 1);

/* RGB */
$color1: rgba(255, 153, 0, 1);
$color2: rgba(25, 23, 22, 1);
$color3: rgba(224, 226, 219, 1);
$color4: rgba(61, 52, 139, 1);
$color5: rgba(190, 183, 164, 1);