:root {
    --bitcoin-orange: #FF9900;
    --eerie-black: #191716;
    --gainsboro-grey: #E0E2DB;
    --dark-slate-blue: #3D348B;
    --black-shadows: #BEB7A4;
}

h1 {
    font-family: 'Electrolize', sans-serif;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    color: var(--eerie-black);
    background-color: var(--bitcoin-orange);
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

h2 {
    font-size: 1.36em;
    font-weight: 600;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    color: var(--eerie-black);
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Electrolize', sans-serif;
    color: var(--eerie-black);
}

h4 {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Electrolize', sans-serif;
    color: var(--eerie-black);
}

p {
    font-size: 1em;
    font-weight: normal;
    font-family: 'Electrolize', sans-serif;
    color: var(--eerie-black);
}

#sub-title {
    color: var(--eerie-black);
    background-color: var(--dark-slate-blue);
    margin: 0px 0px 10px 0px;
    padding: 3px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 5px auto 5px auto;
}

#img-caption {
    text-align: center;
}

.block_quote {
    padding: 5px;
    margin: 16px auto 16px auto;
    background-color: var(--gainsboro-grey);
    width: 80%;
    font-family: 'Electrolize', sans-serif;
    color: var(--eerie-black);
}
